* {
    box-sizing: border-box;
}

.firstName {
    font-size: 8vw;
    color: #ff6b6b;
}

.lastName {
    font-size: 6.5vw;
    background-color: #ff6b6b;
    color: #292f36;
}

.revolving-msg,
.lastName,
.firstName {
    margin: .5%;
    height: 18vh;
}

.headerText {
    align-items: center;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Audiowide', cursive;
    height: 50vh;
    width: 100%;
}

.revolving-msg::before {
    content: "front-end web developer";
    animation: animate infinite 7s;
    font-size: 3.75vw;
    width: 100%;
    height: 100%;
}

@keyframes animate {
  0% {
    content: "front-end web developer"
  }
  20% {
    content: "creative problem solver";
  }
  40% {
    content: "empathetic teammate"
  }
  60% {
    content: "forever learner"
  }
  80% {
    content: "language nerd"
  }
}