.App {
  text-align: center;
  color: #f7fff7;
  background-color: #292f36;
  height: 100vh;
  padding: 1.3%;
}

img {
  max-width: 100%;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.email-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-vert {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transition: all .5s;
  color: #f7fff7;
  text-decoration: none;
}

.email-vert:hover {
  color: #4ecdc4;
  transform: translate(0px, -10px);
}

.always-there {
  display: flex;
  justify-content: space-between;
}
