.App {
  text-align: center;
  color: white;
  background-color: #292f36;
}

img {
  max-width: 100%;
}

a:hover {
  cursor: pointer;
}

.email-vert {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
