.nav-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.nav-link:hover {
    color: #4ecdc4;
}

.nav-link:active {
    color: #ff6b6b;
}

.logo {
    max-height: 11vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}